[data-md-color-scheme="slate"] .md-nav__item {
    color: var(--md-default-fg-color);
}

[data-md-color-scheme="slate"] .md-nav__item--active,
[data-md-color-scheme="slate"] .md-nav__link--active {
    color: var(--md-accent-fg-color);
    background-color: var(--md-accent-bg-color);
}

[data-md-color-scheme="slate"] .md-sidebar {
    background-color: transparent;
}

[data-md-color-scheme="slate"] .highlight {
    background-color: #1e1e1e;
    border: 1px solid #30363d;
}

[data-md-color-scheme="slate"] .highlight .c1,
[data-md-color-scheme="slate"] .highlight .cm {
    color: #89ddff;
}
